@import './base.css';

@font-face {
  font-family: 'Coves-Light';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url('@/assets/fonts/Coves/Coves-Light.ttf');
}

@font-face {
  font-family: 'Coves-Bold';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url('@/assets/fonts/Coves/Coves-Bold.ttf');
}

#app {
  font-weight: normal;
  height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


