@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('~@/assets/fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
font-family: 'Coves-Light';
src: url('~@/assets/fonts/Coves/Coves-Light.otf') format("otf");
}